{% extends 'base/base.html' %}

{% block title %}Детали запроса на улучшение{% endblock %}

{% block content %}
<h1>Детали запроса на улучшение</h1>
<p>Title: {{ feature.title }}</p>
<p>Description: {{ feature.description }}</p>
<p>Status: {{ feature.status }}</p>
<p>Priority: {{ feature.priority }}</p>
<p><a href="{% url 'quality_control:featurerequest_update' feature.id %}">Изменить запрос</a></p>
<p><a href="{% url 'quality_control:featurerequest_delete' feature.id %}"onclick="return confirm('Вы уверены, что хотите удалить этот запрос');">Удалить запрос</a></p>
<a href="{% url 'quality_control:featurerequests_list' %}">Назад к списку запросов на улучшение</a>

{% endblock %}